@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  margin: 0;
  background-color: #f2f2f2;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-large {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.text-small {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.page-header {
  display: flex;
  width: 1200px;
  background-color: #ffffff;
  justify-content: space-between;
}

.logo-sedona {}

.logo-link {}

.header-nav {
  display: flex;
  flex-basis: 1000px;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu-item {}

.menu-link {
  display: block;
}

.menu-button {
  width: 160px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
}

.fav-text {

}

.main-index {
  width: 1200px;
  background-color: #ffffff;
}

.welcome {
  background-color: #b3b3b3;
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 485px;
  text-align: center;
  position: relative;
}

.welcome::after {
  display: block;
  content: "";
  background-image: url(../img/mask.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.welcome-img {
  padding-top: 51px;
}

.advantages {}

.advantages-head {
  width: 620px;
  min-height: 72px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-text {
  width: 651px;
  max-height: 26px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-container-wrapper {
  grid-column: 1 / -1;
  display: flex;
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-container:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container:nth-child(1) {
  background-color: rgba(130, 179, 211, 1);
}

.advantages-definition {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0;
}

.advantages-img {
  width: 800px;
  height: 385px;
}

.relax {}

.relax-list {
  display: flex;
}

.relax-container {
  width: 400px;
  min-height: 385px;
}

.relax-container:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.relax-definition {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.relax-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.reserv {}

.reserv-link {}

.page-footer {}

.subscription {}

.subscription-index {}

.subs-form {}

.media {}

.media-list {
  list-style: none;
  padding: 0;
}

.media-item {}

.media-link {
  color: #83B3D3;
}

.contacts {}

.phone {}

.academy-logo {}

.htmla-link {}

.htmla-logo {}
